Reporting/Actions/AzurePowershell/Enumerate/raw/rg_Raceroom/ststv2_vms_Scheduled_start.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_ststv2_vms_Scheduled_start_name": {
      "defaultValue": "ststv2_vms_Scheduled_start",
      "type": "String"
    },
    "sites_AFRaceroomxokk4blv6ky3i_externalid": {
      "defaultValue": "/subscriptions/489d031c-25dc-4c75-9be4-cf094616e087/resourceGroups/rg_Raceroom/providers/Microsoft.Web/sites/AFRaceroomxokk4blv6ky3i",
      "type": "String"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_ststv2_vms_Scheduled_start_name')]",
      "location": "centralus",
      "tags": {
        "SolutionName": "StartStopV2"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "6"
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "Pacific Standard Time"
              },
              "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "6"
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "Pacific Standard Time"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Function-Catch": {
              "actions": {
                "Terminate": {
                  "runAfter": {},
                  "type": "Terminate",
                  "inputs": {
                    "runError": {
                      "code": "@{outputs('Scheduled')['statusCode']}",
                      "message": "@{body('Scheduled')}"
                    },
                    "runStatus": "Failed"
                  }
                }
              },
              "runAfter": {
                "Function-Try": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "type": "Scope"
            },
            "Function-Success": {
              "actions": {},
              "runAfter": {
                "Function-Try": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            },
            "Function-Try": {
              "actions": {
                "Scheduled": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "Action": "start",
                      "EnableClassic": false,
                      "RequestScopes": {
                        "ResourceGroups": [
                          " /subscriptions/489d031c-25dc-4c75-9be4-cf094616e087/resourceGroups/rg_Raceroom"
                        ]
                      }
                    },
                    "function": {
                      "id": "[concat(parameters('sites_AFRaceroomxokk4blv6ky3i_externalid'), '/functions/Scheduled')]"
                    }
                  }
                }
              },
              "runAfter": {},
              "type": "Scope"
            }
          }
        },
        "parameters": {}
      }
    }
  ]
}